
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap';
@import '~jquery-ui-bundle/jquery-ui.min.css';

@import "ratings";

.navbar-laravel {
  background-color: #c8cbcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.moviebox{
  margin: 0px;
  border: 2px solid #000000;
}

.plus-sign {
  background-color: #1d2124;
}

//html-tags ohne Punkt
body{
  background-color: #721c24;
}


